name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf automake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev openjdk-17-jdk
          pip install --upgrade pip
          pip install --upgrade Cython==0.29.33 buildozer

      - name: Build with Buildozer
        # 'yes' कमांड को अलग तरह से चला रहे हैं ताकि पाइप न टूटे
        run: |
          mkdir -p ~/.android
          touch ~/.android/repositories.cfg
          yes | buildozer android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NetworkMasterPro-APK
          path: bin/*.apk
          
