name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemGrinev/buildozer-action@v1
        with:
          buildozer_version: stable
          python_version: 3.12
