name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf autotools-dev libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev openjdk-17-jdk
          pip install --upgrade pip
          pip install buildozer kivy==2.3.0 cython pillow kivymd

      - name: Build with Buildozer
        run: |
          # पुरानी फाइल्स साफ़ करें और नया बिल्ड शुरू करें
          rm -rf .buildozer/
          buildozer android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"
          ANDROID_NDK_HOME: "/usr/local/lib/android/sdk/ndk/25.2.9519653"
